@import "tailwindcss";
@import "tw-animate-css";
/*  ---break---*/
@custom-variant dark (&:is(.dark *));

.text_color {
  @apply text-[#10B981];
}
.bg_color {
  @apply bg-[#10B981];
}

/*  */

.form_error {
  @apply text-base capitalize mb-2 text-red-700;
}

.form_section input {
  @apply border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#10B981] mb-4 mt-2;
}

.primary_btn {
  @apply w-[120px] px-5 py-2 text-sm font-semibold rounded transition-colors bg-btn-primary text-btn-text capitalize cursor-pointer text-center
}

.secondary_btn {
  @apply w-[120px] px-5 py-2 text-sm font-semibold rounded transition-colors bg-white text-black border border-[#10B981] hover:bg-[#10B981] hover:border-none hover:text-white capitalize cursor-pointer text-center
}

/* --- Text Colors --- */
.text_primary_color{
@apply text-[#10B981]
}
.text_secondary_color{
@apply text-[#1F2937]
}

.text_dark_color{
@apply text-[#1f2937]
}

.text_light_color{
@apply text-[#ffffff]
}

/* --- Background Colors --- */

.bg_primary_color{
@apply bg-[#10B981]
}
.bg_secondary_color{
@apply bg-[rgb(31,41,55)]
}

.bg_dark_color{
@apply bg-[#1f2937]
}

.bg_light_color{
@apply bg-[#f9fafb]
}

/* --- Font Sizes --- */

/* .text_title { 
  @apply text-[24px] sm:text-[28px] md:text-[32px] lg:text-[36px] xl:text-[40px] ;
} */

/* .text_sub_title { 
  @apply text-[14px] sm:text-[16px] md:text-[18px] lg:text-[20px] xl:text-[22px] ;
} */

/* .text_paragrap { 
  @apply text-[12px] sm:text-[14px] md:text-[15px] lg:text-[16px]  leading-relaxed;
} */

.text_hero {
  @apply text-[28px] sm:text-[32px] md:text-[36px] lg:text-[40px] xl:text-[48px] font-bold ;
}

.title{
  @apply text-[24px] sm:text-[28px] md:text-[32px] lg:text-[36px] xl:text-[40px] text-[#1F2937] ;
}

.sub_title {
  @apply text-[14px] sm:text-[16px] md:text-[18px] lg:text-[20px] xl:text-[22px] text-[#1F2937] ;
}

.paragrap {
  @apply text-[12px] sm:text-[14px] md:text-[15px] lg:text-[16px] text-gray-600  leading-relaxed;
}

.text_small { 
  @apply text-[12px] sm:text-[13px] md:text-[14px] lg:text-[15px] ;
}

.text_caption { 
  @apply text-[11px] sm:text-[12px] md:text-[13px] font-light tracking-wide;
}

/*  ---break---*/

@theme inline {
  --color-primary-background: var(--primary-background);
  --color-secondary: var(--secondary);
  --color-btn-primary: var(--btn-primary);
  --color-btn-text: var(--btn-text);
  --color-primary-text : var(--primary-text);
  --color-card: var(--card);
  --color-card-border: var(--card-border);


    /* table */
  --color-table-header-bg: var(--table-header-bg);
  --color-table-row-bg: var(--table-row-bg);
  --color-table-hover-bg: var(--table-hover-bg);
  --color-table-border: var(--table-border);
  --color-table-text: var(--table-text);
  --color-table-divider: var(--table-divider);
  --color-table-muted-text: var(--table-muted-text);


  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);


  --color-foreground: var(--foreground);


  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);

  --color-popover-foreground: var(--popover-foreground);


  --color-primary-foreground: var(--primary-foreground);


  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);

  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);

  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);

  --color-chart-2: var(--chart-2);

  --color-chart-3: var(--chart-3);

  --color-chart-4: var(--chart-4);

  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-ring: var(--sidebar-ring);
}

/*  ---break---*/

:root {

  --primary-background: #FFFFFF;
  --secondary: #10B981;
  --btn-primary: #10B981;
  --btn-text: white;
  --primary-text : #171717;
  --card: white;
    --card-border: #E5E7EB;

  /* table */
   --table-header-bg: #F9FAFB;
  --table-row-bg: #FFFFFF;
  --table-hover-bg: #F3F4F6;
  --table-border: #E5E7EB;
  --table-text: #171717;
  --table-muted-text: #6B7280;
  --table-divider : #E5E7EB;



  
  --radius: 0.625rem;


  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);


  --primary-foreground: oklch(0.985 0 0);


  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.708 0 0);



  --foreground: oklch(0.145 0 0);
}

/*  ---break---*/

.dark {
  /* --primary: oklch(0.145 0 0); */
  --primary-background: #0A0A0A;

  --secondary: #141414;
  --btn-primary: white;
  --btn-text: oklch(0.145 0 0);
  --primary-text :  #E5E5E5;
  --card: #141414;
  --card-border: #1F1F1F;


  /* table */
  
  --table-header-bg: #141414; /* same as card */
  --table-row-bg: #0A0A0A; /* fallback main bg */
  --table-hover-bg: #1A1A1A; /* subtle hover effect */
  --table-border: #1F1F1F; 
  --table-text: #E5E5E5;
  --table-muted-text: #A1A1A1;
    --table-divider : #1F1F1F;
  
  
  --foreground: oklch(0.985 0 0);
  

  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.205 0 0);

  --popover-foreground: oklch(0.985 0 0);


  --primary-foreground: oklch(0.205 0 0);


  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);

  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);

  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);


  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);

  --chart-2: oklch(0.696 0.17 162.48);

  --chart-3: oklch(0.769 0.188 70.08);

  --chart-4: oklch(0.627 0.265 303.9);

  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);

  --sidebar-foreground: oklch(0.985 0 0);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.269 0 0);

  --sidebar-accent-foreground: oklch(0.985 0 0);

  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: oklch(0.556 0 0);
}

/*  ---break---*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  /* body {
    @apply bg-background text-foreground;
  } */
}

